@page
@model Restaurant.UI.Razor_App.Pages.Reservation.IndexModel

@section scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/restaurants?handler=RestaurantPartial',
                success: function (data) {
                    $("#load").html(data);
                }
            });
        });

        $("#orderHistory").hide();
        $("button").on('click', function () {
            var btn_value = (this.id);

            switch (btn_value) {
                case 'btn_1':
                    $("#orderHistory").hide();
                    console.log("This is btn 1");
                    $(document).ready(function () {
                        $.ajax({
                            url: '/restaurants?handler=RestaurantPartial',
                            success: function (data) {
                                $("#load").html(data);
                            }
                        });
                    });
                    break;

                case 'btn_2':
                    console.log("This is btn 2");
                    $("#orderHistory").show();
                    break;
            }
        });
    </script>
}

@if (Model.Username != null)
{
    <h1 class="text-lg-center text-success">
        Welcome, <strong class="text-success">@Model.Username</strong> 
    </h1>
}
else
{
    <h1 class="text-lg-center text-success">
        Welcome to Restaurant Reservation System
    </h1>
}

<div class="navbar navbar-expand navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button class="nav-link" id="btn_1">
                    Restaurants
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="btn_2">
                    Orders History
                </button>
            </li>
        </ul>
    </div>
</div>

<div id="load">
</div>



<div id="orderHistory">
    @if (Model.Token == null)
    {
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Please Log In First!</h4>
            <p>Log In To view Your Booking History</p>
            <hr>
            <p class="mb-0">Please Clikc <a asp-page="/Authentication/Index">Here Login</a></p>
        </div>

        <form>
            <input placeholder="Enter Booking Id" type="text" asp-for="SearchBookingId" />
            <input type="submit" value="Seach" />
        </form>
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <th>Restaurant Id </th>
                    <th>Booking Date </th>
                    <th>Reservation  Date </th>
                    <th>Reservation Time </th>
                    <th>Status</th>
                </tr>

            </thead>
            <tbody>
                @if (Model.SearchBookingId == null)
                {
                    <tr>
                        <td colspan="5" class="text text-info text-md-center">Please Key In Your Booking ID</td>
                    </tr>
                }
                else
                {
                    @foreach (var y in Model.BookingList.Bookings)
                    {
                        <tr>
                            <td>@y.RestaurantId</td>
                            <td>@y.BookingDate</td>
                            <td>@y.ReservationDate</td>
                            <td>@y.ReservationTime</td>
                            <td>@y.Status</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    }
   
    @if(Model.Token != null)
    {

        <form>
            <input placeholder="Enter Booking Id" type="text" asp-for="SearchBookingId" />
            <input type="submit" value="Seach" />
        </form>
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <th>Restaurant Id </th>
                    <th>Booking Date </th>
                    <th>Reservation  Date </th>
                    <th>Reservation Time </th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var y in Model.BookingList.Bookings.Where(x => x.ReservedBy == Model.UserId).ToList())
                {
                    <tr>
                        <td>@y.RestaurantId</td>
                        <td>@y.BookingDate</td>
                        <td>@y.ReservationDate</td>
                        <td>@y.ReservationTime</td>
                        <td>@y.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div id="grid"></div>

