@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model Restaurant.Application.ViewModel.RestaurantViewModel
@if (Model.Restaurants == null)
{
    <h5 class="text-danger text-md-center">
        @Model.Response.Message
    </h5>
}
else
{
    <h4 class="text-md-center">
        Restaurant List
    </h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Restaurant Name</th>
                <th> Restaurant Type</th>
                <th> Business Hour </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Restaurants)
            {
                <tr>
                    <td> @x.RestaurantName </td>
                    <td> @x.Type </td>
                    <td> @x.OpenHour - @x.EndHour </td>
                    <td>
                        <a asp-page="/Restaurants/Details" asp-route-id="@x.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-plus-fill" viewBox="0 0 16 16">
                                <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM8.5 8.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5a.5.5 0 0 1 1 0z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


